div{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: lightblue;
    /*transition-property: all;*/
    /*transition: font-size 2s ease-in 1s;*/
    /*transform: rotatex(80deg);*/
    transition: transform 2s ease-in-out ;
    position: relative;
    top: 200px;
    left: 200px;
    animation:colorAnimate 2s  0s infinite alternate;
    
    
}

@keyframes colorAnimate{
    0%{
        left:0px;
        background-color: cyan;
        font-size: default;
    }
    50%{
        left: 300px;
        background-color: purple;
        font-size: 25px;
    }
    100%{
        left: 0px;
        background-color: red;
        font-size: 50px;
    }
}


/*div:hover{
    background-color: lightpink;
    color: red;
    font-size: 20px;
    transform: scale(2);
    transform: rotate(45deg);
    transform: translate(200px,100px);

    
}*/
/*div:active{
    background-color: lightsalmon;
    color: green;
}*/

