body{
    text-align: center;
    margin-top: 50px;
}
div{
    width: 300px;
    height: 100px;
    border: 5px solid black;
    display: inline-block;
}

#container{
    height: 300px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}

#box1{
    background-color: lightblue;
    align-self: flex-start;
    flex-shrink: 3;

   
}


#box2{
    background-color: lightgreen;
}

#box3{
    background-color: lightpink;
    
}

#box4{
    background-color: lightyellow;
}

#box5{
    background-color: lightgray;
}

@media(min-width:200px)and (max-width:300px){
    div{
        background-color: orange;
    }
}

