div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    border: 20px solid cyan;
    border-top: 20px solid black; 
    animation: colorAnimate 0.5s 0s infinite normal;
}

@keyframes colorAnimate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}