#one{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block; /* Changed from inline to inline-block  to get top and bottom margin*/
}
#two{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline;
}
#three{
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: block;
    background-color: rgba(255,0,0,0.2);
}

